/*------------------------------------*\
  #LOGO
\*------------------------------------*/

@mixin fixedTop() {
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 200px;
}