/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$shadow: #272727;
$midtone: #9e5245;
$highlight: #c08a80;
$accent: #15b4a9;
$headline: #81c1e8;
$cardBack: #5a798d;
$headerLogo: lightgray;
$textShadow: black;