/*------------------------------------------------------------------

[Master Stylesheet]

Project:    Jenkins Audio
Version:    1.1
Last change:    05/10/19 [updates: mobile first, social]
Assigned to:    John Grattan
Primary use:    Portfolio

-------------------------------------------------------------------*/

/*------------------------------------------------------------------

[Table of contents]

1. #IMPORTS
2. #MIXINS
3. #GLOBAL
4. #DEBUG

-------------------------------------------------------------------*/

/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

@import '_variables';
@import '_logo';
@import '_header';
@import '_main';
@import '_services';
@import '_store';
@import '_about';
@import '_contact';
@import '_social';
@import '_footer';
// @import 'media-queries'

/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  color: white;
  font: 16px 'PT Sans Narrow', sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

#home {
  @include flexCenter(column);
}

.bg-home {
  background-attachment: fixed;
  background-image: url(../imgs/mixer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  position: relative;
}

#services {
  @include flexCenter(column);
}

.bg-services {
  background-attachment: fixed;
  background-image: url(../imgs/studio-foam-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  position: relative;
}

#mixing {
  @include flexCenter(column);
}

.bg-mixing {
  background-attachment: fixed;
  background-image: url(../imgs/mixer-1-red-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  position: relative;
}

#mastering {
  @include flexCenter(column);
}

.bg-mastering {
  background-attachment: fixed;
  background-image: url(../imgs/adam-audio-t7v.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  position: relative;
}

#production {
  @include flexCenter(column);
}

.bg-production {
  background-attachment: fixed;
  background-image: url(../imgs/midi-key-1-red.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  position: relative;
}



.container {
  position: relative;
  width: 70%;
  max-width: 400px;
  margin: 10px auto;
}

.container img {
  width: 100%;
  height: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid $midtone;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: $shadow;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px solid $midtone;
}

.container .btn:hover {
  background-color: $accent;
  color: white;
}

/*------------------------------------*\
  #WRAPPER
\*------------------------------------*/

// .wrapper {
//   height: 100%;
//   width: 100%;
//   padding: 20px;
//   margin: auto;
//   @include flexCenter(column);
// }



#test2 {
  @include flexCenter(column);
  background: darkgreen;
}

/*------------------------------------*\
  #DEBUG
\*------------------------------------*/

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */